<a href="https://colab.research.google.com/github/Saheiyanda/Sa-heed/blob/main/Stage_B_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [67]:
import pandas as pd
import numpy as np
import seaborn as sns

In [68]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/00374/energydata_complete.csv")
df.head()

                  date  Appliances  lights  ...  Tdewpoint        rv1        rv2
0  2016-01-11 17:00:00          60      30  ...        5.3  13.275433  13.275433
1  2016-01-11 17:10:00          60      30  ...        5.2  18.606195  18.606195
2  2016-01-11 17:20:00          50      30  ...        5.1  28.642668  28.642668
3  2016-01-11 17:30:00          50      40  ...        5.0  45.410389  45.410389
4  2016-01-11 17:40:00          60      40  ...        4.9  10.084097  10.084097

[5 rows x 29 columns]

In [69]:
# Checking the datatype
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [70]:
pd.set_option("display.max_rows", None)

In [71]:
df = df.drop(columns=["date","lights"])
# df

In [72]:
# Data preprosessing for regression
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression
LM = LinearRegression()
scaler   =   MinMaxScaler()

In [73]:
normalised_df = pd.DataFrame(scaler.fit_transform(df), columns = df.columns)
normalised_df.head()

   Appliances       T1      RH_1  ...  Tdewpoint       rv1       rv2
0    0.046729  0.32735  0.566187  ...   0.538462  0.265449  0.265449
1    0.046729  0.32735  0.541326  ...   0.533937  0.372083  0.372083
2    0.037383  0.32735  0.530502  ...   0.529412  0.572848  0.572848
3    0.037383  0.32735  0.524080  ...   0.524887  0.908261  0.908261
4    0.046729  0.32735  0.531419  ...   0.520362  0.201611  0.201611

[5 rows x 27 columns]

In [44]:
# feature_df = normalised_df.drop(columns="Appliances")
# feature_df.head()

In [74]:
# Splitting the data into training and testing for cross validation
from sklearn.model_selection import train_test_split as tts
x_train, x_test,y_train, y_test = tts(normalised_df["T2"].values.reshape(-1,1),normalised_df["T6"], train_size= 0.7 , random_state=42)

In [75]:
model = LM.fit(x_train, y_train)
model

LinearRegression()

In [76]:
predict = model.predict(x_test)
predict

array([0.23928945, 0.46794238, 0.23108472, ..., 0.3001772 , 0.4297256 ,
       0.3217686 ])

In [77]:
from sklearn.metrics import r2_score
r_score = r2_score(predict,  y_test)
round(r_score, 2)                     # the r2 = 0.44 Question 12

0.44

In [78]:
#Qurestion 13
feature_df = normalised_df.drop(columns="Appliances")
feature_df.head()

        T1      RH_1        T2  ...  Tdewpoint       rv1       rv2
0  0.32735  0.566187  0.225345  ...   0.538462  0.265449  0.265449
1  0.32735  0.541326  0.225345  ...   0.533937  0.372083  0.372083
2  0.32735  0.530502  0.225345  ...   0.529412  0.572848  0.572848
3  0.32735  0.524080  0.225345  ...   0.524887  0.908261  0.908261
4  0.32735  0.531419  0.225345  ...   0.520362  0.201611  0.201611

[5 rows x 26 columns]

In [79]:
target_var = normalised_df["Appliances"]
target_var
normalised_df.Appliances.head()

0    0.046729
1    0.046729
2    0.037383
3    0.037383
4    0.046729
Name: Appliances, dtype: float64

In [80]:
# Splitting the data into training and testing for cross validation
from sklearn.model_selection import train_test_split as tts
x_train, x_test,y_train, y_test = tts(feature_df["T2"].values.reshape(-1,1),feature_df["T6"], train_size= 0.7 , random_state=42)

In [81]:
X = normalised_df.drop(columns=['Appliances'])
Y = normalised_df['Appliances']

In [82]:
x_train, x_test, y_train, y_test = tts(X, Y, test_size=0.3, random_state=42)
LM1 = LinearRegression()
LM1.fit(x_train, y_train)

LinearRegression()

In [85]:
predictions = LM1.predict(x_test)
predictions

array([0.03322207, 0.24411599, 0.03400024, ..., 0.06844707, 0.10032325,
       0.05722198])

In [87]:
from sklearn.metrics import mean_absolute_error 
MAE_mr = mean_absolute_error(y_test, predictions)
round(MAE_mr, 2)

0.05

In [88]:
# Question 14
SS = y_test - predictions # sum square error
RSS = np.sum(np.square(SS)) # Residual sum of square
round(RSS,2)

45.35

In [89]:
#question 15

from sklearn.metrics import mean_squared_error 
RMSE = np.sqrt(mean_squared_error(y_test, predictions))
round(RMSE, 3)

0.088

In [90]:
#question 16
from sklearn import metrics
coefficent = metrics.r2_score(y_test, predictions)
round(coefficent,2)

0.15

In [99]:
#question 17
feature_columns = X.columns

Feature_weight = LM1.coef_
cum_weight = pd.DataFrame(feature_columns,Feature_weight  )
cum_weight
# max(cum_weight)
# min(cum_weight)

                     0
-0.003281           T1
 0.553547         RH_1
-0.236178           T2
-0.456698         RH_2
 0.290627           T3
 0.096048         RH_3
 0.028981           T4
 0.026386         RH_4
-0.015657           T5
 0.016006         RH_5
 0.236425           T6
 0.038049         RH_6
 0.010319           T7
-0.044614         RH_7
 0.101995           T8
-0.157595         RH_8
-0.189941           T9
-0.039800         RH_9
-0.321860        T_out
 0.006839  Press_mm_hg
-0.077671       RH_out
 0.029183    Windspeed
 0.012307   Visibility
 0.117758    Tdewpoint
 0.000770          rv1
 0.000770          rv2

In [100]:
from sklearn.linear_model import Ridge
ridge_reg = Ridge(alpha=0.4)
ridge_reg.fit(x_train, y_train)

Ridge(alpha=0.4)

In [103]:
prdict1 = ridge_reg.predict(x_test)

In [105]:
RMSE = np.sqrt(mean_squared_error(y_test, prdict1))
round(RMSE, 3)

0.088

In [106]:
from sklearn.linear_model import Lasso
# training the mode
Lsr = Lasso(alpha=0.001)
Lsr_model = Lsr.fit(x_train, y_train) #Lasso regression model
Lsr_model

Lasso(alpha=0.001)

In [113]:
predict2 =Lsr.predict(x_test)

In [110]:
feature_columns = X.columns
feat_weight = Lsr.coef_

In [112]:
cum_weight = pd.DataFrame(feature_columns,feat_weight)
cum_weight

                     0
 0.000000           T1
 0.017880         RH_1
 0.000000           T2
-0.000000         RH_2
 0.000000           T3
 0.000000         RH_3
-0.000000           T4
 0.000000         RH_4
-0.000000           T5
 0.000000         RH_5
 0.000000           T6
-0.000000         RH_6
-0.000000           T7
-0.000000         RH_7
 0.000000           T8
-0.000110         RH_8
-0.000000           T9
-0.000000         RH_9
 0.000000        T_out
-0.000000  Press_mm_hg
-0.049557       RH_out
 0.002912    Windspeed
 0.000000   Visibility
 0.000000    Tdewpoint
-0.000000          rv1
-0.000000          rv2

In [114]:
from sklearn.metrics import mean_squared_error 
RMSE = np.sqrt(mean_squared_error(y_test, predict2))
round(RMSE, 3)

0.094